/* 
Potential Color Pallete
NavyBlue: #0A4158
TealGreen: #4B8378
Orange: #FF9636
Scallop Seashell: #E4D7D0
*/

/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */

.navBar {
  width: 100%;
  overflow: hidden;
  background-color: #0A4158;
}

.navBar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar a:hover:not(.active) {
  background-color: #083446;
}

.navBar a.active {
  background-color: #FF9636;
}

.container {
  padding: 16px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section {
  margin: 16px 0px ;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* For mobile phones: */
[class*="col-"] {
  float: left;
  width: 100%;
}

@media only screen and (min-width: 768px) {
/* @media only screen and (min-width: 600px) { */
  /* For desktop: */
  .col-3 {width: 25%;}
  .col-9 {width: 75%;}
}

.exList {
  background-color: white;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  width:100%;
}

.exList:hover {
  color: white;
  background-color: #0A4158;
}

table, caption {
  width: 100%;
  text-align: left;
}

table {
  border-spacing: 0px;
}

thead {
  color: white;
  background-color: #0A4158;
}

th, td {
  padding: 6px;
  border-bottom: 1px solid #DDD;
}

input[type=number], label.checkbox {
  display: block;
  margin: 8px 0px;
}

input[type=number] {
  background-color: #EEE;
  border: none;
  padding: 16px;
}

.submit {
  background-color: #0A4158;
  border: none;
  color: white;
  margin-top: 16px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
}

.submit:hover {
  background-color: #FF9636;
}

/* Testing SideBar Design*/

.sidebar {
  background-color: #0A4158;
  color: white;
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0px;
  position: fixed;
  width: 225px;
}

.sidebar button {
  background-color: #0A4158;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding: 8px 32px;
  text-align: left;
  text-decoration: none;
  width:100%;
}

.menu {
  display: none;
  color: white;
  font-size: 32px;
  text-decoration: none;
}
 
.sidebar button.active {
  background-color: #FF9636;
  color: white;
}

.sidebar button:hover:not(.active) {
  background-color: #083446;
  color: white;
}

div.content {
  margin-left: 225px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .menu {
    display: block;
    padding: 16px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .sidebar button {display: none;}
  div.content {margin-left: 0;}
}

/* @media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar button {float: left;}
  div.content {margin-left: 0;}
} */

/* @media screen and (max-width: 400px) {
  .sidebar button {
    text-align: center;
    float: none;
  }
} */